
<body>
  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Fast <span>Hospital</span></h3>
    </div>
  </header>
  <!--header area end-->
  <!--mobile navigation bar start-->
  <div class="mobile_nav">
    <div class="nav_bar">
      <img src="{{Abatar}}" class="mobile_profile_image" alt="">
      <i class="fa fa-bars nav_btn"></i>
    </div>
    <div class="mobile_nav_items">
      <a style="cursor: pointer;" (click)="irHome()"><i class="fas fa-home"></i><span>Inicio</span></a>
      <a  style="background:  rgb(11, 37, 85); cursor: pointer;"  (click)="irAyuda()"><i class="fas fa-question"></i><span>Ayuda</span></a>
    </div>
  </div>
  <!--mobile navigation bar end-->
  <!--sidebar start-->
  <div class="sidebar">
    <div class="profile_info">
      <img src="{{Abatar}}" class="profile_image" alt="" />
      <!--<img src="otro.png" class="profile_image" alt="">-->
      <h4>Dr.{{nombreDoctor}}</h4>
    </div>
    <a style="cursor: pointer;" (click)="irHome()"><i class="fas fa-home"></i><span>Inicio</span></a>
    <a  style="background:  rgb(11, 37, 85); cursor: pointer;"  (click)="irAyuda()"><i class="fas fa-question"></i><span>Ayuda</span></a>
  </div>
  <!--sidebar end-->
  <style>
    .card .mn{
    width: 100%;
    height:50%;

    }
  </style>
  <div class="content">
    <div class="card mb-5">
      <h2>Preguntas frecuentes</h2>
  </div>
  <div class="card mb-5">
    <h2>Edicion</h2>
    <div id="mn" class="bn">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Como Editar un Paciente?">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Como Editar una Consulta?">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
     </div>
</div>
<div class="card mb-5">
  <h2>Creacion de Usuarios y Consultas</h2>
  <div id="mn" class="bn">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="Como registrar un paciente?">
        <ng-template ngbPanelContent>
          Dirígete al menú del lado izquierdo de la pantalla y dale click a “Registrar pacientes”, procede a llenar todos los campos que te aparecerán en pantalla y al finalizar dale click al botón Guardar y felicidades,tu registro estará creado.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="¿Como ver las consultas de un paciente?">
        <ng-template ngbPanelContent>
          Dirígete al menú del lado izquierdo de la pantalla y dale click a Inicio, donde te aparecerá una lista de tus pacientes, para editarlos solo tienes que darle click al botón verde que se encuentra del lado derecho de la foto del paciente.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-3" title="Como Registrar una Consulta?">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
   </div>
</div>
<div class="card">
<h2>Eliminacion de Usuarios y Consultas</h2>
<div id="mn" class="bn">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="¿Como Eliminar un Paciente?">
      <ng-template ngbPanelContent>
        Dirígete al menú del lado izquierdo de la pantalla y dale click a Inicio, donde te aparecerá una lista de tus pacientes, para eeliminarlos solo tienes que darle click al botón rojo en la columna de acciones que se encuentra del lado derecho de la pantalla.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="Como Eliminar una Consulta?">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-3" title="Como Eliminar un Reporte?">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
 </div>
</div>
</div>

  <!--<script type="text/javascript">
  $(document).ready(function(){
    $('.nav_btn').click(function(){
      $('.mobile_nav_items').toggleClass('active');
    });
  });
  </script>-->







</body>
