
<body>
  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Fast <span>Hospital</span></h3>
    </div>
  </header>
  <!--header area end-->
  <!--mobile navigation bar start-->
  <div class="mobile_nav">
    <div class="nav_bar">
      <img src="{{Abatar}}" class="mobile_profile_image" alt="">
      <i class="fa fa-bars nav_btn"></i>
    </div>
    <div class="mobile_nav_items">
      <a style="cursor: pointer;" (click)="irHome()"><i class="fas fa-home"></i><span>Inicio</span></a>
    <a style="cursor: pointer;"  (click)="irARegistro()"><i class="fas fa-user-plus"></i><span>Registrar Pacientes</span></a>
    <a style="cursor: pointer;"  (click)="irAReporte()"><i class="fas fa-table"></i><span>Reportes</span></a>
    <a  style="cursor: pointer;  background: rgb(11, 37, 85);"  (click)="irNosotros()"><i class="fas fa-users"></i><span>Nosotros</span></a>
    <a style="cursor: pointer;" (click)="irAyuda()"><i class="fas fa-question"></i><span>Ayuda</span></a>
    <a href="#"><i class="fas fa-address-card"></i><span>Acerca de</span></a>
    </div>
  </div>
  <!--mobile navigation bar end-->
  <!--sidebar start-->
  <div class="sidebar">
    <div class="profile_info">
      <img src="{{Abatar}}" class="profile_image" alt="" />
      <!--<img src="otro.png" class="profile_image" alt="">-->
      <h4>Dr.{{nombreDoctor}}</h4>
    </div>
    <a style="cursor: pointer;" (click)="irHome()"><i class="fas fa-home"></i><span>Inicio</span></a>
    <a style="cursor: pointer;"  (click)="irARegistro()"><i class="fas fa-user-plus"></i><span>Registrar Pacientes</span></a>
    <a style="cursor: pointer;"  (click)="irAReporte()"><i class="fas fa-table"></i><span>Reportes</span></a>
    <a style="cursor: pointer;  background: rgb(11, 37, 85);"  (click)="irNosotros()"><i class="fas fa-users"></i><span>Nosotros</span></a>
    <a style="cursor: pointer;" (click)="irAyuda()"><i class="fas fa-question"></i><span>Ayuda</span></a>
    <a href="#"><i class="fas fa-address-card"></i><span>Acerca de</span></a>
  </div>
  <!--sidebar end-->
  <style>
    .card .mn{
    width: 100%;
    height:50%;

    }
  </style>
  <div class="content">
    <div class="card mb-5">
      <h2>FAST HOSPITAL</h2>
  </div>
  <div class="card mb-5">
    <h2>Lo Que Nos Representa</h2>
    <div id="mn" class="bn">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Mision">
          <ng-template ngbPanelContent>
          Proporcionar a los doctores de todo el mundo una herramienta tecnológica que permita enriquecer la forma en la que se hacen las consultas y se registran pacientes.
          Establecer soluciones que satisfagan las necesidades de nuestros doctores. Generando un valor para el hospital u hospitales y para la sociedad.

          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Vision">
          <ng-template ngbPanelContent>
            Desarrollar una app líder en aplicaciones móviles y web. A nivel nacional e internacional. Por parte de nuestros empleados, clientes, proveedores y diversos grupos de interés relacionados.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-3" title="Valores">
          <ng-template ngbPanelContent>
            •	Integridad <br>
            •	Dedicación <br>
            •	Mejora continua<br>
            •	Pasión<br>
            •	Calidad<br>
            •	Trabajo en equipo

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
 </div>
</div>
</div>

  <!--<script type="text/javascript">
  $(document).ready(function(){
    $('.nav_btn').click(function(){
      $('.mobile_nav_items').toggleClass('active');
    });
  });
  </script>-->

</body>
